.App {
  text-align: center;
}

.VideoPlayer {
  z-index: 0;
  position: absolute;
  top: 0px;
  left: 0px;
}

.VideoOverlay {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
}

.Center {
  padding: 22% 0;
}

.PlayButton {
  background-color: #e7e7e7;
  color: black;
  border-radius: 0.4em;
  border: 4px solid #000000;
  padding: 0.25em 0.5em;
  font-size: 8em;
}
